/* color variables */
:root {
	--primary: #000000;
	--green: #00df4a;
	--light-green: #e2ffe6;
	--red: #ff0000;
	--light-red: #ffe3e3;
}

/* utilities */
.text-green {
	color: var(--green);
}

.text-red {
	color: var(--red);
}

html {
	font-size: 10px;
}

/***********  media queries  ***********/

@media (max-width: 1200px) {
	html {
		font-size: 9px;
	}
}

@media (max-width: 992px) {
	html {
		font-size: 7px;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 6px;
	}
}

@media (max-width: 576px) {
	html {
		font-size: 5px;
	}
}

input {
	outline: none;
}

button {
	cursor: pointer;
}

body {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	max-width: 1280px;
	border-left: 1px solid #aaa;
	margin: 0 auto;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	/* background-color: #aaa; */
}

.menu {
	display: flex;
	flex-direction: column;
	max-width: min(4rem + 22vw, 32rem);
	width: 100%;
	padding-bottom: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	border-right: 1px solid #999;
}

.logo {
	padding: 2rem 3.5rem;
	border-bottom: 1px solid #999;
	align-self: stretch;
}

.menu__tabs {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	margin: 3rem auto auto;
	padding: 1.6rem;
}

.menu__tab,
.logout-btn {
	display: flex;
	gap: 2rem;
	align-items: center;
	font-size: 1.6rem;
	font-weight: bold;
}
